<div style="padding: 30px 100px 100px 100px;">
  <!-- <p><mat-slide-toggle (change)="cambiarModo($event)">Dark Mode</mat-slide-toggle></p> -->
  <h1>Modulo Tareas</h1>
  <div style="display: flex; justify-content: right ; margin-bottom: 25px;">
    <button mat-stroked-button (click)="openModal()">Add <span>+</span></button>
  </div>
  <app-table></app-table>
</div>

<!-- <button mat-stroked-button (click)="getTask()">tasks</button>
<button mat-stroked-button (click)="createTask()">create tasks</button>
<button mat-stroked-button (click)="updateTask()">update tasks</button>
<button mat-stroked-button (click)="deleteTask()">delete tasks</button> -->