/* You can add global styles to this file, and also import other style files */
@use './app/styles/theme-colors';
@use '@angular/material' as mat;
@include mat.app-background();

html {
    @include mat.theme((
      color: (
        theme-type: light,
        primary: theme-colors.$primary-palette,
        tertiary: theme-colors.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
